<h1>Trucks#new</h1>
<p>Find me in app/views/trucks/new.html.erb</p>

<%= form_for @truck do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.submit "Create Truck" %> 
<% end %>
