<h1>Trucks#show</h1>

<h2><%= @truck.name %></h2>
<h3><%= @truck.description %></h3>

<%= link_to "Edit My Truck" , edit_truck_path(@truck) %>
<%= link_to "Add Food" , new_truck_food_path(@truck) %>
<%= link_to "All My Foods" , truck_foods_path(@truck) %>

<%= render 'foods/allfoods' %>

<<<<<<< HEAD
=======
<%= link_to "Place Order" , new_truck_order_path(@truck) %>
>>>>>>> 507448d1ad6231f6d132acc4674022653856ead4
