<h1>Trucks#show</h1>

<h2><%= @truck.name %></h2>
<h3><%= @truck.description %></h3>

<%= link_to "Edit My Truck" , edit_truck_path(@truck) %>
<%= link_to "Add Food" , new_truck_food_path(@truck) %>
<%= link_to "All My Foods" , truck_foods_path(@truck) %>

<%= render 'foods/allfoods' %>