<body>

<%# This is the button for the current location, it gets the current location onclick --%>
<%= form_for @user do |f| %>
	<%= f.hidden_field :latitude %>
	<%= f.hidden_field :longitude %>

<div class="container">
	<div class="row center banner_text">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>Welcome <%= @user.fname %>!
		</h1>
		</div>
	</div>
</div>

<div class="container container1">
	<div class="row center">
		<div id="map" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 truck_text">
		</div>
		<%= f.submit "Get your location!", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<div id="current">
	<div id="cLat"></div>
	<div id="cLong"></div>
</div>

<div class="container">
	<div class="row center banner_text">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2>Available Truck: </h2>
		<% @trucks.each do |truck| %>
			<% if Geocoder::Calculations.distance_between([@user.latitude,@user.longitude], [truck.latitude, truck.longitude]) < 2 %>
				<h1><%= link_to "#{truck.name}" , truck_path(truck.id) %></h1>
			<% else %>
				<%= "Go Flog yourself"%>
			<% end %>
		<%	end	%>
		</div>
		
	</div>
</div>


<div class="container">
	<div class="row center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ul class="nav nav-tabs schedule1" role="tablist">
	    	<li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Mon</a></li>
		    <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Tues</a></li>
		    <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">Wed</a></li>
		    <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab">Thurs</a></li>
		    <li role="presentation"><a href="#tab5" aria-controls="settings" role="tab" data-toggle="tab">Fri</a></li>
		    <li role="presentation"><a href="#tab6" aria-controls="settings" role="tab" data-toggle="tab">Sat</a></li>
		    <li role="presentation"><a href="#tab7" aria-controls="settings" role="tab" data-toggle="tab">Sun</a></li>			
	  	</ul>
  	</div>
  	</div>
</div> 


<div class="container">
	<div class="row">
	<div class="tab-content col-xs-12 col-sm-12 col-md-12 col-lg-12 white">
	    <div role="tabpanel" class="tab-pane active center" id="tab1">
	    <p>11PM to 5AM</p>
	    <p>Brooklyn, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab2">
	    <p>11PM to 5AM</p>
	    <p>Queens, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab3">
	    <p>11PM to 5AM</p>
	    <p>Staten Island, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab4">
	    <p>11PM to 5AM</p>
	    <p>Bronx, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab5">
	    <p>11PM to 5AM</p>
	    <p>Long Island, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab6">
	    <p>11PM to 5AM</p>
	    <p>Manhattan, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
	    <div role="tabpanel" class="tab-pane center" id="tab7">
	    <p>11PM to 5AM</p>
	    <p>Flushing, NY</p>
	    <p>123 Stone St.<br>Brooklyn<br>New York</p>
	    </div>
  	</div>
	</div>
</div>
</body>