<h1>Users#show</h1>
<h2><%= @user.fname %></h2>
<h3><%= @user.email %></h3>
<h4><%= @user.password_digest %></h4>

<%= link_to "Edit" , edit_user_path(params[:id]) %>
<%= link_to "Delete" , @user , method: :delete %>
