<div class="container">
	<div class="row center banner_text">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Your Most Recent Order</h1>
		</div>
	</div>
</div>

<div class="row container4 center white">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h4 id="head-banner2">
<% @orders.each do |order| %>
	<h1><%= order.id %></h1>
	<hr id="hr_id">
	<h3>
	<% if order.item1 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item1 %>
		  	<li><%= order.item1 %></li><%= food.price %>
		  	<% @total += food.price %> 
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item2 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item2 %>
		  	<li><%= order.item2 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item3 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item3 %>
		  	<li><%= order.item3 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item4 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item4 %>
		  	<li><%= order.item4 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item5 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item5 %>
		  	<li><%= order.item5 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item6 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item6 %>
		  	<li><%=order.item6%></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item7 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item7 %>
		  	<li><%= order.item7 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item8 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item8 %>
		  	<li><%= order.item8 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item9 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item9 %>
		  	<li><%= order.item9 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>

	<% if order.item10 == "" %>
		<li>No Item</li>
	<% else %>
		<% @foods.each do |food| %>
		  <% if food.food_name == order.item10 %>
		  	<li><%= order.item10 %></li><%= food.price %>
		  	<% @total += food.price %>
		  <% end %>
		<% end %>
	<% end %>
	</h3>
	<hr id="hr_id">
	<h1>$<%= number_with_precision(@total, :precision => 2) %></h1>
<% end %>

</h4>
</div>
</div>