
<div class="container">
	<div class="row center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_text2">
		<h1>Menu for <%= @current_truck.name %></h1>
	</div>
	</div>
</div>

<%= form_for [@current_truck,@order] do |f| %>
<%= f.label :truck_id, class: "hidden" %>
<%= f.text_field :truck_id, class: "hidden" %>
<%= f.label :user_id, class: "hidden" %>
<%= f.text_field :user_id , value: current_user.id, class: "hidden" %>


<div class="container white center container3">


	<div class="row">
	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("20.png")%>" class="mobile_img">
	  <h4>chicken wings - $10</h4>
	</div>

	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("21.png")%>" class="mobile_img">
	  <h4>mac and cheese - $5</h4>
	  </div>
	
	</div>	

	<div class="row">
	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("26.png")%>" class="mobile_img">
	  <h4>burrito - $7</h4>
	</div>

	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("23.png")%>" class="mobile_img">
	  <h4>pizza - $15</h4>
	  </div>
	
	</div>	


	<div class="row">
	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("24.png")%>" class="mobile_img">
	  <h4>french fries- $5</h4>
	</div>

	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	  <img src="<%=image_url("25.png")%>" class="mobile_img">
	  <h4>chicken nuggets - $3</h4>
	  </div>
	
	</div>	



</div>  



<div class="container">

	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<%= collection_select :order , :item1 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item2 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item3 , @current_truck.foods , :food_name , :food_name , prompt: true %>
	</div>
	</div>

	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<%= collection_select :order , :item4 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item5 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item6 , @current_truck.foods , :food_name , :food_name , prompt: true %>
	</div>
	</div>


	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<%= collection_select :order , :item7 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item8 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= collection_select :order , :item9 , @current_truck.foods , :food_name , :food_name , prompt: true %>
	</div>
	</div>

	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<%= collection_select :order , :item10 , @current_truck.foods , :food_name , :food_name , prompt: true %>
<%= f.submit "Submit Order" %>
<% end %>
	</div>
	</div>
</div>
