
<div class="container">
	<div class="row center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner_text2">
		<h1>Menu for <%= @current_truck.name %></h1>
	</div>
	</div>
</div>




	<%= form_for [@current_truck,@order] do |f| %>
		<%= f.label :truck_id, class: "hidden" %>
		<%= f.text_field :truck_id, class: "hidden" %>
		<%= f.label :user_id, class: "hidden" %>
		<%= f.text_field :user_id , value: current_user.id, class: "hidden" %>
		<%= f.submit "Submit Order" %>
	<% end %>
	
