<h1>Foods#edit</h1>
<p>Find me in app/views/foods/edit.html.erb</p>

<%= form_for [@current_truck,@food] do |f| %>
	<%= f.label :food_name %>
	<%= f.text_field :food_name %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.label :price %>
	<%= f.text_field :price %>
	<%= f.submit "Edit" %>
<% end %>

<%= link_to "Delete Food" , [@current_truck,@food] , method: :delete  %>
