<h1>Add a New Food</h1>

<%= form_for [@current_truck,@food] do |f| %>
	<%= f.label :food_name %>
	<%= f.text_field :food_name %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.label :price %>
	<%= f.text_field :price %>
	<%= f.submit "Add Food" %>
<% end %>