<!DOCTYPE html>
<html>
<head>
  <title>FoodtruckApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

<!-- this is the navbar (start) -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">

		<div class="container4">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<a class="navbar-brand1" href="#">
				<img alt="Brand" src="<%= image_path("logo_icon.png")%>" class="logo_icon">
			</a>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="banner_txt">
			<a class="navbar-brand2" href="#">
				TRUCKLY
			</a>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
		      		<% if logged_in? %>
			        	<li>
			        		<a href="/trucks">Trucks</a>
			        	</li>
			        	<li>
			        		<a href="#">About</a>
			        	</li>
			        	<li>
			        		<a href="#">FAQ</a>
			        	</li>
			        	<li>
			        		<a href="#"><%= link_to "Log Out" , log_out_path(current_user), method: :delete %></a>
			        	</li>
		        	<% else %>
			        	<li>
			        		<a href="/trucks">Trucks</a>
			        	</li>
			        	<li>
			        		<a href="#">About</a>
			        	</li>
			        	<li>
			        		<a href="#">FAQ</a>
			        	</li>
		        	<% end %>
		      	</ul>
		    </div>

	</div>

				
			


			</div>
		</div>
	</div>
</nav>
<!-- this is the navbar (close) -->

<%= yield %>



<div class="container">
	<div class="row panel-footer center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p>CONTACT</p>
		<p>Help & Support</p>
		<p>1-888-249-6070</p>
		<p>Email Us</p>
	</div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
